*{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

/* ---------------HEADER--------------- */
.header__nav{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
} 

.header__logo{
    display: flex;
    flex-wrap: wrap;
}

.header__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    font-size: x-large;
}

.header__lista a{
    color: white;
    text-decoration: none;  
}

.header__lista a:hover{
    color: black;
    text-shadow: 2px 2px 2px white;
    transition: all 0.4s;
}

.header__item{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    text-shadow: 2px 2px 4px black;
    font-family: 'Anton';
    list-style: none;
    font-size: 25px;
}

/* ----------------INDEX---------------- */
main{
    display: flex;
    flex-wrap: wrap;
}

.section__eventos{
    display: grid;
    width: 100vw;
    row-gap: 15px;
    column-gap: 15px;
    padding: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.eventos__portada{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    height: 80vh;
    background-image: url("../resources/images/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Pacifico';
    color: white;
    text-shadow: 2px 2px 4px black;
}

.eventos__title{
    font-size: 80px;
}

.eventos__listado{
    grid-column: 2/3;
    grid-row: 1/2;
}

.listado__title{
    display: flex;
/*     flex-direction: column; */
    font-family: 'Anton';
    font-size: 25px;
    color: black;
    text-shadow: 2px 2px 2px grey;
}

.listado__mes--1{
    display: flex;
    background-color: #D16BA5;
    font-family: "pacifico";
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px black;
}

.listado__mes--2{
    display: flex;
    background-color: #86A8E7;
    font-family: "pacifico";
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px black;
}

.listado__mes--3{
    display: flex;
    background-color: #5FFBF1;
    font-family: "pacifico";
    font-size: x-large;
    color: white;
    text-shadow: 2px 2px black;
}

.listado__item{
    display: flex;
    font-family: 'Anton';
    color: black;
    list-style: none;
    padding-left: 25px; 
}

.section__galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.galeria__img{
/*     display: none; */
    margin: 30px;
    width: 384px;
    height: 216px;
}

.galeria__img:hover{
/*     display: none; */
    width: 768px;
    height: 432px;
}

.section__imagenAbajo{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* -----------SOBRE-NOSOTROS----------- */


/* -------------SERVICIOS-------------- */
.servicios__grid{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    padding: 15px;
    justify-content: center;
    align-content: center;

}

.servicios__title{
    font-family: 'Montserrat';
    font-size: 90px;
    font-weight: bolder;
    text-shadow: 4px 4px black;
    color: white;
}

.img{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
}

.txt{
    padding: 15px;
    border-radius: 20px;
    font-family: "Montserrat";
}

.txt__title{
    font-size: 25px;
    font-weight: bold;
}

.txt__lista{
    list-style: none;
}

.img1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../resources/images/2.jpg");
}

.txt1{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #d16ba594;
}

.img2{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("../resources/images/pixel1.jpg");
}

.txt2{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #86a8e791;

}

.img3{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../resources/images/tubos1.jpg");
}

.txt3{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #5ffbf180;
}

/* ---------------CONTACTO---------------- */

.keyframe__img{
    width: 30vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contacto__button{
    background-color: #d16ba594;
    border-color: #d16ba594;
}

.contacto__button:hover{
    background-color: #D16BA5;
    border-color: #d16ba594;
    transition: all 0.4s;
}

/* ---------------FOOTER---------------- */

footer{
    display: flex;
    flex-direction: column;
}

.section__redes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.footer__title{
    font-family: 'Pacifico';
    color: white;
    text-shadow: 2px 2px black;
    background-color: #D16BA5;
}

.footer__redes{
    padding: 10px;
}

/* FLEXBOX -----------------------------------------------------------------------------------------------------------------------------------------------------------------------
display: flex;                  -----> para aplicar el flexbox
flex-direction: column/row;     -----> define si los elementos se apilan en columna o fila
flex-wrap: wrap;                -----> especifica si los elementos flexibles deben ajustarse o no, valor por defecto: nowarp
flex-flow: row wrap;            -----> propiedad abreviada para configurar las propiedades flex-directiony flex-wrap
justify-content: center;        -----> se utiliza para justificar los elementos flexibles, puede ser: center, flex-start, flex-end, space-around, space-between
align-items: center;            -----> se utiliza para alinear los elementos flexibles, puede ser: center, flex-start, flex-end, stretch, baseline
align-content: space-between;   -----> se utiliza para alinear las líneas flexibles del contenido, puede ser: center, flex-start, flex-end, space-between, space-around, stretch


display: flex-container;        -----> para aplicar flex a elementos secundarios
order: 0/1/2/3/..;              -----> especifica el orden de los elementos flexibles
flex-grow: 0/1/2/3/..;          -----> especifica cuánto crecerá un elemento flexible en relación con el resto de los elementos flexibles
flex-shrink: 0/1/2/3/..;        -----> especifica cuánto se encogerá un elemento flexible en relación con el resto de los elementos flexibles
flex-basis: 200px;              -----> especifica la longitud inicial de un elemento flexible
flex: 0 0 200px;                -----> es una propiedad abreviada para las propiedades flex-grow, flex-shrinky flex-basis
align-self: center;             -----> especifica la alineación del elemento seleccionado dentro del contenedor flexible
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* --------MEDIA QUERY DE CELULAR------------------------------------
El 99,9% siempre debe haber una sola columna
El 0,1% son galerias cuadriculadas que pueden tener hasta 3 columnas
--------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 575px){

    .header__nav{
        flex-direction: column;
    }

    .header__lista{
        flex-direction: column;
        align-items: flex-start;
    }

    .header__item{
        margin: 8px;
        font-size: 20px;
    }

/* -----------------INDEX------------------ */

    .section__eventos{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .eventos__portada{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 40px;
    }

    .eventos__listado{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .section__galeria{
        flex-direction: column;
    }

    .galeria__img{
        margin: 2px;
    }
    
/* ----------------SERVICIOS-------------- */

    .servicios__grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 10px;
    }
    
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .txt1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .img2{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .txt2{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .img3{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .txt3{
        grid-column: 1/2;
        grid-row: 6/7;
    }

}
/* --------MEDIA QUERY DE TABLET-------- */
@media (min-width: 576px) and (max-width: 992px){

    .header__logo{
        display: flex;
        width: 15vw;
    }

    .header__lista{
        display: flex;
    }

    .header__item{
        margin: 8px;
        font-size: 16px;
    }

/* -----------------INDEX------------------ */

    .section__eventos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .eventos__portada{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 30px;
    }

    .section__galeria{
        flex-direction: column;
    }

    .galeria__img{
        margin: 2px;
    }

/* ----------------SERVICIOS-------------- */
    
    .servicios__grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 10px;
    }

    .servicios__title{
        font-size: 60px;
    }
    
    .img{
        height: 50vh;
    }
    
    .txt{
        border-radius: 12px;
        font-size: 14px;
    }

    .txt__title{
        font-size: 15px;
    }
    
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .txt1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .img2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .txt2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .img3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .txt3{
        grid-column: 2/3;
        grid-row: 3/4;
    }

}


/* NO HACE FALTA DECLARAR LA MEDIA PARA DESKTOP PORQUE YA TOMA POR DEFECTO LO MAYOR A 992PX */


