*{
    margin: 0px;
    padding: 0px;
}

header {
    padding: 15px;
    background-color: #0AA;
}

.header__logo{
    display: inline;
    width: 70px;
    height: 70px;
    background: linear-gradient(to right top, #FFC804,  #FF0F5C, #D504D9);
    border-radius: 10px;
}

.header__lista{
    display: inline;
    text-shadow: 2px 2px 4px black;
    font-family: 'Anton';
    list-style: none;
    font-size: large;
}

.header__lista--1{
    display: inline;
    padding: 5px;
    background-color: #FFC804;
    border-radius: 10px;
}

.header__lista--2{
    display: inline;
    padding: 5px;
    background-color: #F27405;
    border-radius: 10px;
}

.header__lista--3{
    display: inline;
    padding: 5px;
    background-color: #FF0F5C;
    border-radius: 10px;
}

.header__lista--4{
    display: inline;
    padding: 5px;
    background-color: #F2059F;
    border-radius: 10px;
}

.header__lista--5{
    display: inline;
    padding: 5px;
    background-color: #D504D9;
    border-radius: 10px;
}

.header__lista a{
    color: white;
    text-decoration: none;  
}

.header__lista a:hover{
    color: black;
    text-shadow: 2px 2px 2px white;
}


.eventos__title{
    font-family: 'Pacifico';
    font-size: 30px;
    color: black;
}

.eventos__mes{
    font-family: 'Pacifico';
    color: white;
    padding-left: 10px;
}

.eventos__mes--1{
    text-shadow: 2px 2px black;
    background-color: #FFC804;
}

.eventos__mes--2{
    text-shadow: 2px 2px black;
    background-color: #FF0F5C;
}

.eventos__mes--3{
    text-shadow: 2px 2px black;
    background-color: #D504D9;
}

.eventos__item{
    font-family: 'Anton';
    color: black;
    list-style: none;
    padding-left: 25px; 
}

.section__galeria{
    display: inline;
    margin-left: 5px;
    margin-right: 15px;
    width: 384px;
    height: 216px;
}

.section__imagenAbajo{
    margin-left: 10px;
}

.footer__title{
    font-family: 'Pacifico';
    color: #D504D9;
    text-shadow: 2px 2px black;
    background-color: #F27405;
}


/* CONTACTO */
.contacto__form{
    display: inline;
}

.contacto__img{
    display: inline;
    width: 600px;
    height: 600px;
}