/* ----------COLORES----------- */
/* ----------FUENTES----------- */
/* ----------------FOOTER----------------- */
footer img {
  width: 30px; }

footer a {
  padding: 10px;
  color: black;
  text-decoration: none; }

.footer__redes {
  background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe);
  padding-top: 30px; }
  .footer__redes .redes {
    display: flex;
    flex-direction: column;
    padding-left: 30px; }
    .footer__redes .redes .footer {
      font-family: "Montserrat";
      padding-top: 10px; }
      .footer__redes .redes .footer__title--1 {
        align-self: flex-start; }
      .footer__redes .redes .footer__title--2 {
        align-self: center; }
      .footer__redes .redes .footer__title--3 {
        align-self: flex-end; }
    .footer__redes .redes .redes2 {
      display: flex;
      justify-content: center; }
      .footer__redes .redes .redes2__logo:hover {
        transform: translate(2px, 2px);
        transition: all 0.2s; }
    .footer__redes .redes .redes3 {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }

/* --------------MAP--------------- */
.color-mes1 {
  background-color: #d16ba5; }

.color-mes2 {
  background-color: #86A8E7; }

.color-mes3 {
  background-color: #5FFBF1; }

.img1 {
  background-image: url("../resources/images/2.jpg"); }

.img2 {
  background-image: url("../resources/images/pixel1.jpg"); }

.img3 {
  background-image: url("../resources/images/tubos1.jpg"); }

.img4 {
  background-image: url("../resources/images/show1.jpg"); }

.img5 {
  background-image: url("../resources/images/show2.jpg"); }

.img6 {
  background-image: url("../resources/images/show3.jpg"); }

.img7 {
  background-image: url("../resources/images/show4.jpg"); }

.img8 {
  background-image: url("../resources/images/show5.jpg"); }

* {
  margin: 0px;
  padding: 0px; }

/* ---------------HEADER--------------- */
header {
  background-color: #d16ba5; }

.breadcrumb {
  padding-top: 5px;
  padding-left: 40px; }

.titles, .titles__h1--index, .titles__h1, .titles__h2 {
  font-family: "Pacifico";
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 16px; }

.titles__h1--index {
  font-size: 5rem; }

.titles__h1 {
  font-size: 2.5rem; }

.titles__h2 {
  font-size: 2rem; }

.txt {
  font-family: "Montserrat";
  font-size: 1.1rem; }

/* ----------------INDEX---------------- */
.section__eventos {
  display: grid;
  padding: 20px;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr; }
  .section__eventos .eventos__portada {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: "Pacifico";
    color: white;
    text-shadow: 2px 2px 4px black; }
    .section__eventos .eventos__portada .eventos__title {
      font-size: 80px; }
  .section__eventos .eventos__listado {
    grid-column: 2/3;
    grid-row: 1/2; }
    .section__eventos .eventos__listado .listado__title {
      font-family: "Pacifico";
      font-size: xx-large;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 40px; }
    .section__eventos .eventos__listado .listado__mes {
      display: flex;
      font-family: "Montserrat";
      font-size: x-large;
      color: white;
      text-shadow: 2px 2px black; }
    .section__eventos .eventos__listado .listado__lista__item {
      display: flex;
      font-family: "Montserrat";
      color: black;
      list-style: none;
      padding-left: 25px; }

/* -----------------SOBRE-NOSOTROS----------------- */
.nosotros__title {
  font-family: "Pacifico";
  font-size: xx-large;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 40px; }

.nosotros__txt {
  font-family: "Montserrat";
  font-size: large; }

.nosotros__txt--final {
  font-family: "Pacifico";
  font-size: x-large;
  padding-top: 20px; }

.nosotros__img {
  padding: 20px; }

/* --------------SERVICIOS---------------- */
.servicios__grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px; }
  .servicios__grid .img {
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20px; }
    .servicios__grid .img .servicios__img {
      font-family: "Montserrat";
      font-size: 80px;
      font-weight: bolder;
      text-shadow: 4px 4px black;
      color: white; }
  .servicios__grid .img1 {
    grid-column: 1/2;
    grid-row: 1/2; }
  .servicios__grid .img2 {
    grid-column: 3/4;
    grid-row: 2/3; }
  .servicios__grid .img3 {
    grid-column: 1/2;
    grid-row: 3/4; }
  .servicios__grid .image {
    padding: 20px 20px 40px 20px;
    background-color: aqua; }
  .servicios__grid .txt {
    padding-left: 15px;
    border-radius: 20px;
    font-family: "Montserrat"; }
    .servicios__grid .txt .txt__lista {
      list-style: none; }
  .servicios__grid .txt1 {
    grid-column: 2/4;
    grid-row: 1/2; }
  .servicios__grid .txt2 {
    grid-column: 1/3;
    grid-row: 2/3; }
  .servicios__grid .txt3 {
    grid-column: 2/4;
    grid-row: 3/4; }
  .servicios__grid .color1 {
    background-color: #d16ba594; }
  .servicios__grid .color2 {
    background-color: #86a8e791; }
  .servicios__grid .color3 {
    background-color: #5ffbf180; }

/* ---------------RESERVA----------------- */
.reserva__img {
  border-radius: 40px; }

.table {
  padding: 50px 100px 0px 100px; }

/* ---------------CONTACTO---------------- */
.img {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-content: center; }

.contacto__img {
  padding: 20px;
  border-radius: 80px; }

.contacto__button {
  background-color: #d16ba594;
  border-color: #d16ba594;
  margin: 10px; }
  .contacto__button:hover {
    background-color: #d16ba5;
    border-color: #d16ba594;
    transform: translate(2px, 2px);
    transition: all 0.2s; }

/* --------MEDIA QUERY DE CELULAR-------- */
@media (min-width: 320px) and (max-width: 575px) {
  /* -----------------INDEX------------------ */
  .section__eventos {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .section__eventos .eventos__portada {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 40px; }
    .section__eventos .eventos__listado {
      grid-column: 1/2;
      grid-row: 2/3; }
  /* ----------------SERVICIOS-------------- */
  .servicios__grid {
    row-gap: 10px; }
  /* -----------------RESERVA--------------- */
  .table {
    padding: 10px 0px 10px 0px; } }

/* --------MEDIA QUERY DE TABLET-------- */
@media (min-width: 576px) and (max-width: 992px) {
  /* -----------------INDEX------------------ */
  .section__eventos {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .section__eventos .eventos__portada {
      grid-column: 1/3;
      grid-row: 1/2;
      font-size: 30px; }
    .section__eventos .eventos__listado {
      grid-column: 1/3;
      grid-row: 2/3; }
  /* ----------------SERVICIOS-------------- */
  .servicios__grid {
    row-gap: 10px; }
    .servicios__grid .servicios__title {
      font-size: 60px; }
    .servicios__grid .img {
      height: 50vh; }
      .servicios__grid .img .servicios__img {
        font-size: 50px; }
    .servicios__grid .txt {
      border-radius: 12px;
      font-size: 14px; }
  /* -----------------RESERVA--------------- */
  .table {
    padding: 10px 0px 10px 0px; } }
