/* ----------COLORES----------- */

$color-principal: #d16ba5;
$color-intermedio: #5FFBF1;
$color-secundario: #86A8E7;

$color-principal2: #d16ba594;
$color-intermedio2: #5ffbf180;
$color-secundario2: #86a8e791;



/* ----------FUENTES----------- */

$titles: "Pacifico";
$text: "Montserrat";