/* ----------COLORES----------- */

$color-principal: #d16ba5;
$color-intermedio: #86A8E7;
$color-secundario: #5FFBF1;

$color-principal2: #d16ba594;
$color-intermedio2: #86a8e791;
$color-secundario2: #5ffbf180;



/* ----------FUENTES----------- */

$titles: "Pacifico";
$text: "Montserrat";