@import "variables";
@import "footer";
@import "mediaqueries";

*{
    margin: 0px;
    padding: 0px;
}

/* ---------------HEADER--------------- */

header{
    background-color: $color-principal;
}

.breadcrumb{
    padding-top: 5px;
    padding-left: 40px;
}

.titles{
    font-family: $titles;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titles__h2{
    @extend .titles;
    font-size: 2.5rem;
}

.titles__h3{
    @extend .titles;
    font-size: 2rem;
}

/* ----------------INDEX---------------- */

.section__eventos{
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    .eventos{
        &__portada{
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-family: 'Pacifico';
            color: white;
            text-shadow: 2px 2px 4px black;
            .eventos{
                &__title{
                    font-size: 80px;
                }
            }
        }
        &__listado{
            grid-column: 2/3;
            grid-row: 1/2;        
            .listado{            
                &__title{
                    font-family: "Pacifico";
                    font-size: xx-large;
                    font-weight: bold;
                    padding-top: 20px;
                    padding-bottom: 40px;
                }
                &__mes{
                    display: flex;
                    font-family: "Montserrat";
                    font-size: x-large;
                    color: white;
                    text-shadow: 2px 2px black;
                }  
                &__mes--1{
                    background-color: #D16BA5;
                }
                &__mes--2{
                    background-color: #86A8E7;
                }
                &__mes--3{
                    background-color: #5FFBF1;
                }
                &__lista{
                    &__item{
                        display: flex;
                        font-family: 'Montserrat';
                        color: black;
                        list-style: none;
                        padding-left: 25px; 
                    }
                }
            }    
        }
    }
}

/* -----------------SOBRE-NOSOTROS----------------- */

.nosotros{
    &__title{
        font-family: "Pacifico";
        font-size: xx-large;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    &__txt{
        font-family: "Montserrat";
        font-size: large;
    }
    &__txt--final{
        font-family: "Pacifico";
        font-size: x-large;
        padding-top: 20px;
    }
    &__img{
        width: 40vw;
        padding: 20px;
    }
}

/* --------------SERVICIOS---------------- */
.servicios__grid{
    padding: 5px;
    .servicios__title{
        font-family: "Pacifico";
        font-size: xx-large;
        font-weight: bolder;
        padding-top: 20px;
    }
    .img{
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 20px;
        .servicios__img{
            font-family: 'Montserrat';
            font-size: 80px;
            font-weight: bolder;
            text-shadow: 4px 4px black;
            color: white;
        }
    }
    .img1{
        background-image: url("../resources/images/2.jpg");
    }
    .img2{
        background-image: url("../resources/images/pixel1.jpg");
    }
    .img3{
        background-image: url("../resources/images/tubos1.jpg");
    }
    .txt{
        padding-left: 15px;
        border-radius: 20px;
        font-family: "Montserrat";
        .txt__lista{
            list-style: none;
        }
    }
    .txt1{
        background-color: #d16ba594;
    }
    .txt2{
        background-color: #86a8e791;
    }
    .txt3{
        background-color: #5ffbf180;
    }
}

/* ---------------CONTACTO---------------- */

.contacto{
    &__img{
        width: 30vw;
        padding: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 80px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title{
        font-family: "Pacifico";
        font-size: xx-large;
        font-weight: bolder;
        padding-top: 20px;
    }
    &__button{
        background-color: #d16ba594;
        border-color: #d16ba594;
        margin: 10px;
        &:hover{
            background-color: #D16BA5;
            border-color: #d16ba594;
            transform: translate(2px, 2px);
            transition: all 0.2s;
        }
    }
} 

